* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body
{
    display: flex;
    flex-direction: column;
}

.container
{
    background-color: #1F2937;
    padding-bottom: 50px;
}

.header
{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px -150px;
}
.l1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 -10px;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.l2{
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.b1, .p4, .b2{
    background-color: #3882F6;
    color: white;
}

.l3{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 20px;
}

.p3{
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: 'light italic', sans-serif;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;
}

.img1{
    height: 320px;
    width: 1200px;
    margin: 10px 335px;
    padding-top: 10px;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-right: 100px;
}

.p1{
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    padding-top:50px ;
}

.text
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    margin-left: 200px;
    margin-right: 0px;
}

.b1{
    width: 80px;
    height: 40px;
}

.img2{
    width: 150px;
    height: 150px;
   margin-bottom: 10px;
}
.p2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.con{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.ele{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.p4{
    margin: 20px;
}

